Repository COS301-SE-2024/Dispute-Resolution-Engine, pull requests merged in 2024-05, with the labels that each got.

#17 Ralph Loader v1
  frontend/public/ralph.png
  frontend/src/components/Loader.tsx
Labels: frontend

#25 Adding api/ into dev
  api/Dockerfile
  api/api/api.go
  api/database/db.go
  api/go.mod
  api/go.sum
  api/main.go
Labels: enhancement, service

#18 Initial Signup UI
  frontend/components.json
  frontend/package.json
  frontend/src/app/globals.css
  frontend/src/app/lib/signup.ts
  frontend/src/app/signup/page.tsx
  frontend/src/app/signup/signup-form.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/lib/utils.ts
  frontend/tailwind.config.ts
  frontend/yarn.lock
Labels: enhancement, frontend

#30 Initial login UI with temporary endpoint
  frontend/src/app/lib/auth.ts
  frontend/src/app/login/login-form.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/signup/signup-form.tsx
  frontend/src/components/form/text-field.tsx
Labels: enhancement, frontend

#31 Added docker-compose configuration
  .gitignore
  compose.yaml
Labels: enhancement

#32 Added Postgres persistence
  compose.yaml
Labels: enhancement
